/*custom styles*/

body {
    margin: none;
    background-color: #98fb98;
}

section {
    width: 1300px;
    text-align: center;
    margin: auto;

}

.product {
    display: inline-block;
    width: 290px;
    height: 290px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    box-sizing: border-box;
}

#first {
    background-image: url(../img/product-1.jpg);
}

#second {
    background-image: url(../img/product-2.jpg);
}

#third {
    background-image: url(../img/product-3.jpg);
}

#fourth {
    background-image: url(../img/product-4.jpg);
}

.product .item-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 111, 0, 0.6);
    transition: 0.5s;
    opacity: 0;
    position: relative;

}

.product .item-mask i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 50px;
}

.product .item-mask:hover {
    opacity: 1;
}
